
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <%= button_to "Add New Product", "/products/new", class: "btn btn-primary", method: :get %>
<table class="table-striped">
  <%= @products.each_slice(3) do |three_products| %>
    <div class="row">
        <% three_products.each do |product| %>
          <div class="col-md-4">
            <h2><%= link_to product.name, "/products/#{product.id}" %></h2>
            <img src="<%= product.images.first.url %>" class="img-responsive">
            <h2>Description: <%= product.description %></h2>
            <h2>Price: <%= product.price %></h2>
          </div>
        <% end %>
    </div>
  <% end %>
         <ul class="pager">
          <li class="previous"><a href="#">Previous</a></li>
          <li class="next"><a href="#">Next</a></li>
        </ul>
</div>
